.lime-scene {display:block !important;}     

.zva_dialog {
    background: url('assets/images/backgrounds/dialog_no_borders.png') no-repeat center;
    background-size: 480px 320px;
    width: 480px;
    height: 320px;
    display: none;
    margin-left: auto;
    margin-right: auto;
    font-family: Courier;
}

.zva_dialog_header {
    font-size: 22pt;
    font-weight: bold;
    height: 40px;
    padding-top: 40px;
    text-align: center;
    color: #E9DDB9;
}

.zva_dialog_body {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14pt;
    height: 150px;
}

.zva_dialog_actions {
    text-align: center;
    padding-top: 10px;
}


.button-home {
    background: url('assets/images/backgrounds/home_button.png') no-repeat center;
    background-size: 130px 30px;
    color: #E9DDB9;
    width: 130px;
    height: 30px;
    margin-right: 10px;
    border: 0px;
}

.unit-cell {
    float: left;
    font-size: 10pt;
    width: 80px;
    text-align: center;
}

.zva_dialog_help {
font-size: 9pt;
color: #F6EBC6;
text-align: center;
margin-top: 5px;
font-weight: bold;
}

.item-img {
    width: 20px;
    margin: 10px auto 10px auto;
}